

.App {
  width: 900px;
  text-align: center;
}

.App-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  background-color: rgb(250, 220, 178);
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.galleryItem{
  display: inline-block;
  width: 133px;
  height: 235px;
  margin: 50px;
  
}
#root{
  background-color: rgb(253, 248, 241);
}

.galleryItem-top{
  width: 133px;
  height: 133px;
  box-shadow: 5px 10px rgb(204, 209, 214);
  border-style:solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  
}

button{
box-shadow: 2px 4px rgb(204, 209, 214);
border-color: black;
}

.galleryItem-bottom{
  width: 133px;
  height: 50px;
  color: rgb(204, 209, 214);

}

.galleryWall{
  width: 700px;
  margin-left: 100px;
  align-content: center;
}
